In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

# Question 1: Tesla Stock Data

In [4]:
Tesla = yf.Ticker("TSLA")

In [5]:
Tesla_data = Tesla.history(period="max")
Tesla_data.reset_index(inplace=True)

In [6]:
Tesla_data['Date'] = pd.to_datetime(Tesla_data['Date'])

Tesla_data['Year'] = Tesla_data['Date'].dt.year
Tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0,2010
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0,2010
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0,2010
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0,2010
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0,2010

# Question 2: Tesla Revenue Data

In [7]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

In [8]:
Tesla_rev = requests.get(url).text

In [9]:
Tesla_soup = BeautifulSoup(Tesla_rev, 'html5lib')

In [10]:
# print(Tesla_soup)

In [11]:
Tesla_rev_df = pd.DataFrame(columns=["Date", "Revenue"])

In [12]:
for row in Tesla_soup.find_all("tbody")[1].find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    
    Tesla_rev_df = Tesla_rev_df.append({"Date":date, "Revenue":revenue}, ignore_index=True)  
    
Tesla_rev_df['Date'] = pd.to_datetime(Tesla_rev_df['Date'])
Tesla_rev_df['Year'] = Tesla_rev_df['Date'].dt.year
Tesla_rev_df.head()

        Date  Revenue  Year
0 2022-09-30  $21,454  2022
1 2022-06-30  $16,934  2022
2 2022-03-31  $18,756  2022
3 2021-12-31  $17,719  2021
4 2021-09-30  $13,757  2021

# Question 3: GameStop Stock Data

In [14]:
GS = yf.Ticker("GME")

In [15]:
GS_data = GS.history(period="max")
GS_data.reset_index(inplace=True)

In [16]:
GS_data['Date'] = pd.to_datetime(GS_data['Date'])

GS_data['Year'] = GS_data['Date'].dt.year
GS_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0,2002
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0,2002
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0,2002
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0,2002
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0,2002

# Question 4: GameStopRevenue Data

In [17]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

In [18]:
GS_rev = requests.get(url).text

In [19]:
GS_soup = BeautifulSoup(GS_rev, 'html5lib')

In [20]:
# print(GS_soup)

In [21]:
GS_rev_df = pd.DataFrame(columns=["Date", "Revenue"])

In [22]:
for row in GS_soup.find_all("tbody")[1].find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    
    # Finally we append the data of each row to the table
    GS_rev_df = GS_rev_df.append({"Date":date, "Revenue":revenue}, ignore_index=True)  
    
GS_rev_df['Date'] = pd.to_datetime(GS_rev_df['Date'])

# Extract the year and add it to a new column
GS_rev_df['Year'] = GS_rev_df['Date'].dt.year
GS_rev_df.head()

        Date Revenue  Year
0 2020-04-30  $1,021  2020
1 2020-01-31  $2,194  2020
2 2019-10-31  $1,439  2019
3 2019-07-31  $1,286  2019
4 2019-04-30  $1,548  2019

In [23]:
Tesla_rev_df.to_csv("Tesla_rev.csv", index= False)

In [24]:
GS_rev_df.to_csv("GS_rev.csv", index= False)

In [25]:
Tesla_data.to_csv("Tesla_data.csv", index= False)

In [26]:
GS_data.to_csv("GS_data.csv", index= False)